<div class="clearfix rightside">
	<div class="portlet light bordered">
		<div class="row">
			<form class="form-horizontal" valid-submit="processadd()" name="frmform" novalidate>
			<div class="col-md-12">
				<div class="portlet-body">
					<div class="col-md-12">
						<div class="pull-right">
							<a><i class="fa fa-times icon-fa-2x" ng-click="closeRight();"></i></a>
						</div>
					</div>
					
					<div class="col-md-12">
						<h4>Form Upload</h4>
						<a class="btn btn-sm blue">Upload File</a>
					</div>
					<div class="clearfix">&nbsp;</div>
					<hr/>
					<div class="clearfix">&nbsp;</div>
					<div class="scroller routedet" style="height: 300px; overflow:auto;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
					<div class="col-md-12">
						<div class="col-md-8">
							<div class="row">
								<div class="form-group">
									<input type="text" class="form-control input_full" placeholder="Name of the Form" ng-model="frm.name" name="name" required id="name" />
								</div>
							</div>
							<div class="row">
								<div class="form-group calendar_se">
									<span class="pull-left">Date of Submission:</span><input type="text" id="datepicker" ng-datepicker ng-model="frm.date_submitted" name="name" required id="name" />
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="pull-right no-data">
								<i class="fa fa-file-pdf-o icon-fa-2x"></i>
							</div>
						</div>
					</div>
					<div class="clearfix">&nbsp;</div>
					<hr/>
					<div class="clearfix">&nbsp;</div>
					<div class="col-md-12">
						<div class="col-md-8">
							<div class="row">
								<div class="form-group">
									<input type="text" class="form-control input_full" placeholder="Name of the Form" ng-model="frm.name" name="name" required id="name" />
								</div>
							</div>
							<div class="row">
								<div class="form-group calendar_se">
									<span class="pull-left">Date of Submission:</span><input type="text" id="datepicker" ng-datepicker ng-model="frm.date_submitted" name="name" required id="name" />
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="pull-right no-data">
								<i class="fa fa-file-pdf-o icon-fa-2x"></i>
							</div>
						</div>
					</div>
					<div class="clearfix">&nbsp;</div>
					<hr/>
					<div class="clearfix">&nbsp;</div>
					<div class="col-md-12">
						<div class="col-md-8">
							<div class="row">
								<div class="form-group">
									<input type="text" class="form-control input_full" placeholder="Name of the Form" ng-model="frm.name" name="name" required id="name" />
								</div>
							</div>
							<div class="row">
								<div class="form-group calendar_se">
									<span class="pull-left">Date of Submission:</span><input type="text" id="datepicker" ng-datepicker ng-model="frm.date_submitted" name="name" required id="name" />
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="pull-right no-data">
								<i class="fa  fa-file-word-o icon-fa-2x"></i>
							</div>
						</div>
					</div>
					</div>
					<div class="clearfix">&nbsp;</div>
					<div class="col-md-12">
						<div class="text-center">
							<a class="btn btn-sm green"><i class="fa fa-save"></i>Add Forms to database</a>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="clearfix">&nbsp;</div>
		</form>
		</div>
			
		</div>
</div>