<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
	School Management
</h3>
<div class="page-bar">
	<ul class="page-breadcrumb">
		<li>
			<i class="fa fa-home"></i>
			<a href="#/dashboard.html">Home</a>
			<i class="fa fa-angle-right"></i>
		</li>
		<li>
			<a href="#/school_management.html">School Management</a>
		</li>
	</ul>
	<div class="page-toolbar">
		<div class="btn-group pull-right">
			<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
			Actions <i class="fa fa-angle-down"></i>
			</button>
			<ul class="dropdown-menu pull-right" role="menu">
				<li>
					<a ng-click="selectedTemplate.path = 'views/addschool.html'; bulkupload=false">
					<i class="fa fa-building-o"></i> New School </a>
				</li>
				<li>
					<a ng-click="bulkupload=true;">
					<i class="fa fa-files-o"></i> Bulk Upload </a>
				</li>
				
			</ul>
		</div>
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-7 col-sm-12">
		<!-- BEGIN EXAMPLE TABLE PORTLET-->
		<div class="portlet box blue-madison">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-building"></i>Schools
				</div>
				<div class="tools">
				</div>
			</div>
			
			<div class="portlet-body flip-scroll">
				<div class="row">
					<div class="col-md-6 col-sm-12">
						<label>City:
							<select class="form-control input-small input-inline" ng-model="filterItem.city" ng-options="item.name for item in filterOptions.cities"></select>
						</label>
					</div>
					<div class="col-md-6 col-sm-12">
						<div class="dataTables_filter pull-right">
							<input type="search" class="form-control input-small input-inline input-circle" placeholder="Search" ng-model="search.name">
						</div>
					</div>
					
				</div>
				<table class="table table-bordered table-striped table-condensed flip-content" id="sample_1">
					<thead class="flip-content">
						<tr>
							<th>
								<input type="checkbox" class="regular-checkbox" ng-model="selectedAll" ng-change="checkAll()" />
							</th>
							<th>
								School Name
							</th>
							<th>
								Address
							</th>
							<th>
								Contact Number
							</th>
							<th>
								School ID
							</th>
							<th>
								Capacity
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="school in filtered = (schools | filter:search | filter:customFilter)">
							<td>
								<input type="checkbox" id="{{ school.id}}" class="regular-checkbox" ng-model="school.checked" ng-click="checkedSchool(school.id)" /><label for="{{ school.id}}">
							</td>
							<td>
							{{school.name}}
							</td>
							<td>
							{{school.address}}, {{school.city}}
							</td>
							<td>
							{{school.phone}}
							</td>
							<td>
							{{school.school_id}}
							</td>
							<td>
							{{school.capacity}}
							</td>
				
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
	
	<!-- RIGHT SIDE AREA-->
	<div class="col-md-5 col-sm-12 rightside">
			<div data-ng-include="selectedTemplate.path"></div>
			
			<div class="clearfix" ng-if="bulkupload">
				<div class="portlet light bordered">
					<div class="pull-right">
						<a ng-click="hideBulk()"><i class="fa fa-times icon-fa-2x"></i></a>
					</div>
					<h4>Bulk Upload</h4>
					<div class="row text-center">
						<div class="col-md-6">
							<button class="btn blue btn-block">Download Template</button>
						</div>
						<div class="col-md-6">
							<button class="btn green btn-block">Upload File</button>
						</div>
					</div>
				</div>
			</div>
			
			<div class="clearfix" ng-if="checkedIndexs.length < 1 && !selectedTemplate.path && !bulkupload">
				<div class="portlet light bordered">
					<div class="row text-center no-data">
						<i class="fa fa-building-o icon-fa-5x"></i>
						<div>No School Selected</div>
					</div>
				</div>
			</div>
			<div class="clearfix" ng-if="checkedIndexs.length > 1 && !selectedTemplate.path && !bulkupload">
				<div class="portlet light bordered">
					<h3>You have selected {{checkedIndexs.length}} records.</h3>
					<button class="btn red btn-block">Delete Selected Records</button>
				</div>
			</div>
			<div class="clearfix" ng-if="checkedIndexs.length ==1 && !selectedTemplate.path && !bulkupload">
				<div class="portlet light bordered">
					<div class="row">
						<div class="col-md-12">
							<a class="fa fa-angle-left icon-fa-2x" ng-show="emodules" ng-click="emodules=false;"></a>
							<div style="float:right;">
								<a ng-hide="emodules" class="btn btn-sm grey-cascade" href="javascript:;">Edit <i class="fa fa-edit"></i></a>
								<a class="btn btn-sm red" ng-click="deleteSchoolView(schools[checkedIndexs-1].id, schools[checkedIndexs-1].name)">Delete <i class="fa fa-times"></i></a>
							</div>
						</div>
						<div class="clearfix">&nbsp;</div>
						<div class="clearfix">&nbsp;</div>
						<div class="col-md-12">
							<div class="portlet-body">
								<div class="col-md-4">
									<div class="row">
										<div class="profile-userpic">
											<img style="width:100%;" alt="" class="img-responsive" src="assets/admin/layout2/img/no-image.png">
										</div>
									</div>
								</div>
								<div class="col-md-8">
									<div class="portlet-body">
										<div class="col-sm-8 static-info">
											{{schools[checkedIndexs-1].name}}
										</div>
										<div class="col-sm-8 static-info">{{schools[checkedIndexs-1].address}}, {{schools[checkedIndexs-1].city}}</div>
										<div class="col-sm-8 static-info">{{schools[checkedIndexs-1].school_id}}</div>
									</div>
								</div>
							</div>
							<div class="clearfix">&nbsp;</div>
							<hr/>
						</div>
						
						<div class="clearfix">&nbsp;</div>
						<div class="overlay_div" ng-hide="emodules">
							<div class="col-md-12">
								<div class="portlet-body">
									<div class="row static-info">
										<div class="col-md-5">Phone Number:</div>
										<div class="col-md-7">{{schools[checkedIndexs-1].phone}}</div>
									</div>
									<div class="row static-info">
										<div class="col-md-5">Email Address:</div>
										<div class="col-md-7">{{schools[checkedIndexs-1].email}}</div>
									</div>
									<div class="row static-info">
										<div class="col-md-5">Capacity:</div>
										<div class="col-md-7">{{schools[checkedIndexs-1].capacity}}</div>
									</div>
									<div class="row static-info">
										<div class="col-md-5">Grades:</div>
										<div class="col-md-7">{{schools[checkedIndexs-1].grade}}</div>
									</div>
								</div>
								<hr/>
							</div>
							<div class="clearfix">&nbsp;</div>
							<div class="col-md-12">
								<div class="portlet-body">
									<div class="row static-info">
										<div class="col-md-5">Modules:</div>
										<div class="col-md-7"><a class="btn btn-sm grey-cascade" href="javascript:;" ng-click="emodules=true;">Edit Modules <i class="fa fa-pencil"></i></a></div>
										<div class="clearfix">&nbsp;</div>
										<div class="col-md-12">
											User Management, Parent Management, Student Management
										</div>	
									</div>
									<div class="row static-info">
										<div class="col-md-12"></div>
									</div>
								</div>
								<hr/>
							</div>
							<div class="clearfix">&nbsp;</div>
							<div class="col-md-12">
									<div class="row static-info">
										<div class="col-md-5">Facilities:</div>
										<div class="col-md-7"></div>
									</div>
									<hr/>
							</div>
							<div class="clearfix">&nbsp;</div>
							<div class="col-md-12">
								<div class="row static-info">
									<div class="col-md-5">Additional Notes:</div>
									<div class="col-md-7">&nbsp;</div>
								</div>
							</div>
						</div>
						
						<div class="overlay_div_show" ng-show="emodules">
							<div class="col-md-12">
								<div class="scroller" style="height: 300px; overflow:auto;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
									<div class="static-info" ng-repeat="rule in accessrules">
										<div class="col-md-10">
											{{rule.name}}
										</div>
										<div class="col-md-2">
											<input type="checkbox" class="regular-checkbox" ng-model="rule.checked" />
										</div>
										<div class="clearfix"></div>
										<hr/>
									</div>
								</div>
								
							</div>
							<div class="col-md-12 text-center">
								<a class="btn btn-sm green" href="javascript:;">Save Changes <i class="fa fa-check"></i></a>
							</div>
						</div>
					</div>
						
					</div>
				</div>
		</div>
	</div>
<!-- END MAIN CONTENT -->