<div class="col-md-7">
	<h4>Inbox</h4>
	<table class="table table-striped table-advance table-hover">
		<thead>
		<tr>
			<th colspan="6">
				<input type="checkbox" class="mail-checkbox mail-group-checkbox" ng-model="$parent.selectedAll" ng-change="checkAll('inbox')" />
			</th>
		</tr>
		</thead>
		<tbody>
		
		<tr ng-class="{'unread':message.read != 'yes'}" ng-repeat="message in inbox">
			<td class="inbox-small-cells">
				<input type="checkbox" id="{{message.id}}" class="mail-checkbox" ng-model="message.checked" ng-click="checkedMessage(message.id)" />
			</td>
			<td class="view-message hidden-xs">
				 {{message.name}}
			</td>
			<td class="view-message ">
				 <p>{{message.subject}}</p>
				 <p>{{ message.message | limitTo: 30 }}{{message.message.length > 30 ? '...' : ''}}</p>
			</td>
			<td class="view-message inbox-small-cells">
				<i class="fa fa-paperclip" ng-show="message.attachment=='yes'"></i>
			</td>
			<td class="view-message text-right">
				 {{message.time}}
			</td>
		</tr>
		</tbody>
	</table>
</div>
<div class="col-md-5">
	<div class="portlet">
		<div class="portlet-body text-center no-data" ng-if="checkedIndexs.length < 1">
			<i class="fa fa-envelope-o icon-fa-5x "> </i>
			<p>No Conversation Selected.</p>
		</div>
		
		<div class="clearfix" ng-if="checkedIndexs.length > 1">
			<div class="text-center">
				<h3>You have selected {{checkedIndexs.length}} records.</h3>
				<button class="btn red btn-block">Delete Selected Records</button>
			</div>
		</div>
		
		<div class="portlet-body clearfix" ng-if="checkedIndexs.length == 1">
			<div class="row static-info">
				<div class="col-md-8">From: {{inbox[checkedIndexs-1].name}}</div>
				<div class="col-md-4">{{inbox[checkedIndexs-1].time}}</div>
			</div>
			<div class="row static-info">
				<div class="col-md-8">Subject: {{inbox[checkedIndexs-1].subject}}</div>
				<div class="col-md-4 pull-right">
					<a class="btn btn-sm red" ng-click="deleteMessageView(messages[checkedIndexs-1].id, students[checkedIndexs-1].name)">Delete </a>
				</div>
			</div>
			
			<hr/>
			<div class="row">
				<div class="col-md-12">
					{{inbox[checkedIndexs-1].message}}
				</div>
			</div>
		</div>
	</div>
</div>